<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{greeting_message}}</h1>
    <p>Obrigado por enviar seus dados, jogador!</p>

    <!-- Link para a nova página com informações sobre jogadores -->
    <a href="/melhores_jogadores">Confira aqui os calouros que se destacaram!</a>
    <br/>
    <a href="/">Voltar à página inicial</a>
</body>
</html>