<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <nav>
        <ul>
            <li><a href="/adicionar_jogador">Adicionar jogador</a></li>
            <li><a href="/listar_jogadores">Lista de jogadores</a></li>
            <li><a href="/melhores_jogadores">Lista de melhores calouros</a></li>
        </ul>
    </nav>
</body>
</html>